div {
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
    margin: 10% auto;
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    text-align: center;
    color: orange;
}