<div class="card mb-4" style="padding: 1em; border: none;">
    <form autofocus="off" [formGroup]="form">

        <div class="row form-group mt-2">
            <div class="col col-md-12 col-sm-12">
                <label for="allergyType" class="form-label">Allergy Type</label>
                <input type="text" formControlName="allergyType" class="form-control" id="allergyType">
                <div *ngIf="form.controls['allergyType'].dirty && form.controls['allergyType'].invalid">
                    <small *ngIf="form.controls['allergyType'].errors?.required" class="text-danger">
                        Allergy Type cannot be blank</small>
                    <small *ngIf="form.controls['allergyType'].errors?.isEmpty" class="text-danger">Blank spaces are not
                        allowed</small>
                </div>
            </div>
        </div>

        <div class="row form-group mt-4">
            <div class="col col-md-12 col-sm-12">
                <label for="allergyName" class="form-label">Allergy Name</label>
                <input type="text" formControlName="allergyName" class="form-control" id="allergyName">
                <div *ngIf="form.controls['allergyName'].touched && form.controls['allergyName'].invalid">
                    <small *ngIf="form.controls['allergyName'].errors?.required" class="text-danger">
                        Allergy Name cannot be blank</small>
                    <small *ngIf="form.controls['allergyName'].errors?.isEmpty" class="text-danger">Blank spaces are not
                        allowed</small>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-3">
            <div class="col col-md-12 col-sm-12 text-center">
                <button class="btn btn-success me-3" (click)="addNewAllergy()" [disabled]="form.invalid">Save</button>
                <button class="btn btn-warning ms-3" (click)="close()">Close</button>
            </div>
        </div>
    </form>
</div>