<div class="card mb-4" style="width:600px">
    <div class="text-center">
        <h1 class="text-dark text-muted mb-4">Book Appointment</h1>
    </div>
    <form autofocus="off" [formGroup]="registerForm" (ngSubmit)="bookAppointment()">        
        <div class="mb-3">

            <label for="meetingTitle" class="form-label">Meeting Title</label>
            <input type="text" formControlName="meetingTitle" class="form-control" id="meetingTitle">
            <div *ngIf="registerForm.controls['meetingTitle'].touched && registerForm.controls['meetingTitle'].invalid"
                class="alert text-danger">
                <div *ngIf="registerForm.controls['meetingTitle'].errors?.['required']">Meeting Title cannot be blank
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" formControlName="description" class="form-control" id="description"></textarea>
            <div *ngIf="registerForm.controls['description'].touched && registerForm.controls['description'].invalid"
                class="alert text-danger">
                <div *ngIf="registerForm.controls['description'].errors?.['required']">Description cannot be blank</div>

            </div>
        </div>
        <div class="mb-3">
            <label for="physician" class="form-label">Physician</label>
            <select formControlName="physician" class="form-control" (blur)="getAvailableTimeSlots()" (blur)="getPhysicianEmployeeId()">
                <option value=''>Choose Physician</option>
                <option *ngFor="let physician of physicians">{{physician}}</option>
            </select>
            <div *ngIf="registerForm.controls['physician'].touched && registerForm.controls['physician'].invalid"
                class="alert text-danger">Physician cannot be empty</div>
        </div>

        <div class="mb-3">
            <label for="empId" class="form-label">Physician Employee Id</label>
            <input type="text" formControlName="empId" class="form-control" id="empId" [(ngModel)]="empId"
                >
                
            <div *ngIf="registerForm.controls['empId'].touched && registerForm.controls['empId'].invalid"
                class="alert text-danger">Physician cannot be empty</div>
        </div>

        <div class="mb-3">
            <label for="aptDate" class="form-label">Date</label>
            <input type="date" formControlName="aptDate" class="form-control" id="aptDate" [min]="date" [max]="next3months" (blur)="getAvailableTimeSlots()">
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time Slot</label>
            <select formControlName="time" class="form-control">
                <option>Choose Time Slot</option>
                <option *ngFor="let timeSlot of timeSlots">{{timeSlot}}</option>
            </select>
            <div *ngIf="registerForm.controls['time'].touched && registerForm.controls['time'].invalid"
                class="alert text-danger">Time Slot cannot be empty</div>
        </div>
        <div class="mb-3">
            <label for="patientEmail" class="form-label">Patient Email</label>
            <select formControlName="patientEmail" class="form-control">
                <option>Choose Patient Email</option>
                <option *ngFor="let patientEmail of patientEmails">{{patientEmail}}</option>
            </select>
            <div *ngIf="registerForm.controls['patientEmail'].touched && registerForm.controls['patientEmail'].invalid"
                class="alert text-danger">Patient Email cannot be empty</div>
        </div>
        <div class="mb-3">
            <label for="editHistory" class="form-label">Edit History</label>
            <input type="text" class="form-control" id="editHistory" readonly="readonly" value="Not Applicable">
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success mb-2" [disabled]="registerForm.invalid">Add</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-warning mb-2" (click)="close()">Close</button>
            </div>
        </div>
    </form>
</div>