<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input autocomplete="off" formControlName="email" name="email" id="email" type="text"
                                class="form-control"(blur)="onEmailEntered()">
                            <div *ngIf="f['email'].touched && f['email'].invalid" >
                                <div *ngIf="f['email'].errors && f['email'].errors['required']" class="text-danger">This field cannot be empty</div>
                                <div *ngIf="f['email'].errors && f['email'].errors['email']" class="text-danger">Please, enter valid email
                                    address.</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input autocomplete="off" formControlName="password" name="password" id="password" type="password"
                                class="form-control">
                            <div *ngIf="f['password'].touched && f['password'].invalid">
                                <div *ngIf="f['password'].errors && f['password'].errors['required']" class="text-danger">This field cannot be empty</div>
                                <div *ngIf="f['password'].errors!['pattern']" class="text-danger">Password entry does not meet criteria</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info otp" [disabled]="form.invalid || !this.emailFound">Login</button>
                        <div *ngIf="messageFlag" class="errorMessage bg-light text-danger">
                            {{customMessage}}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-link login" (click)="forgotPassword()">Forgot Password?</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>