<div class="content mat-elevation-z8">
  <div class="card-wrapper">
    <div class="row"></div>
    <mat-tab-group>
      <mat-tab label="Profile Details">
        <patient-profile-details [user]="user" (update)="updatePatientDetails($event)"></patient-profile-details>
      </mat-tab>

      <mat-tab label="Demographic Details">
        <patient-demographic-details [user]="user" (update)="updateDemographicDetails($event)"></patient-demographic-details>
      </mat-tab>

      <mat-tab label="Nominee Details">
        <patient-nominee-details [user]="user" (update)="updateNomineeDetails($event)"></patient-nominee-details>
      </mat-tab>

      <mat-tab label="Allergy Details">
        <patient-allergy-details [user]="user" (update)="updateAllergyDetails($event)"></patient-allergy-details>
      </mat-tab>

      <mat-tab label="Change Password">
        <patient-change-password [user]="user"></patient-change-password>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>