<footer>
    <div class="mt-5 pb-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12">
                    <h2>{{hospitalName}}</h2>
                    <p class="pr-5 text-white-50">
                        CT Hospital has consistently led game-changing developments in healthcare by bringing to the people, 
                        the latest innovations in key medical specialities and superspecialities on par with the West. </p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">We Specialize In</h4>
                    <ul class="m-0 p-0">
                        <li>- {{specialization[0]}}</li>
                        <li>- {{specialization[1]}}</li>
                        <li>- {{specialization[2]}}</li>
                        <li>- {{specialization[3]}}</li>
                        <li>- {{specialization[4]}}</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                    <p><i class="fa fa-map-marker">&nbsp;&nbsp;{{location}}</i></p>
                    <p><i class="fa fa-phone">&nbsp;&nbsp;{{phoneNumber}}</i></p>
                    <p><i class="fa fa-envelope-o">&nbsp;&nbsp;{{email}}</i></p>
                </div>
            </div>
            <div class="row-mt-5">
                <div class="col copyright text-center">
                    <p><small class="text-white-50">
                        All Rights Reserved &copy; CT Hospital 2022
                    </small></p>
                </div>
            </div>
        </div>
    </div>
</footer>