<div class="card   mb-4" style="width:600px">
    <div class="text-center">
        <h1 class="text-dark text-muted mb-4">Send Note</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="sendNote()">
        <div class="mb-3">
            <label for="date" class="form-label">Date Time</label>
            <input type="date" formControlName="date" class="form-control" id="date" [min]="date">
        </div>
        <div class="mb-3">
            <label for="sendTo" class="form-label">Send To</label>
            <select formControlName="sendTo" class="form-control" (blur)="dropDownSelected()">
                <option>Choose Physician</option>
                <option *ngFor="let physician of physicians">{{physician}}</option>
            </select>
            <div *ngIf="registerForm.controls['sendTo'].touched && registerForm.controls['sendTo'].invalid"
                class="alert text-danger">Receiver cannot be empty</div>
        </div>
        <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" formControlName="designation" class="form-control" id="designation">
            <div *ngIf="registerForm.controls['designation'].touched && registerForm.controls['designation'].invalid"
                class="alert text-danger">
                <div *ngIf="registerForm.controls['designation'].errors?.['required']">Designation cannot be blank</div>

            </div>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea type="text" formControlName="message" class="form-control" id="message"></textarea>
            <div *ngIf="registerForm.controls['message'].touched && registerForm.controls['message'].invalid"
                class="alert text-danger">
                <div *ngIf="registerForm.controls['message'].errors?.['required']">Message cannot be blank</div>

            </div>
        </div>
        <div class="mb-3 radioClass mb-4">
            <label>Urgency Level</label> &nbsp;&nbsp;
            <input class="form-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                value="Urgent">
            <label class="form-control-label" for="flexRadioDefault1"> Urgent</label>&nbsp;
            <input class="form-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked
                value="Non-Urgent">
            <label class="form-control-label" for="flexRadioDefault2"> Non-Urgent</label>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <button type="submit" [disabled]="!registerForm.valid" [mat-dialog-close]="registerForm.value"
                    class="btn btn-success mb-2">Send</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-warning mb-2" (click)="close()">Close</button>
            </div>
        </div>
    </form>
</div>