.container-fluid {
    margin-bottom: 4%;
    
}

.text-dark{
    text-align: center;
}

.form-label{
    font-weight: 600;
}

.otp{
    margin: 10px 0px;
}

.login{
    text-decoration: none;
    padding: 0px;
    margin: 5px 0px;
}
.errorMessage{
    margin: 3%;
    font-weight: 600;
    text-align: center;
    font-weight: 700;
}