<div class="content mat-elevation-z8">
    <div class="card-wrapper">
        <mat-tab-group>
            <mat-tab label="Profile Details">
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-2"></div>
                        <div class="col col-md-6 col-sm-6 emp-register-form">
                            <div class="card shadow">
                                <div class="card-body">
                                    <form [formGroup]="form" (submit)="editEmployee()">
                                        <div class="row">
                                            <div class="form-group col col-3">
                                                <label class="col-form-label">Title:</label>
                                                <select class="dropdown-toggle" formControlName="title"
                                                    [(ngModel)]="employee.title">
                                                    <option value='' selected></option>
                                                    <option *ngFor="let t of titles" value="{{t}}">{{t |
                                                        titlecase}}
                                                    </option>
                                                </select>
                                                <small *ngIf="title.touched && title.value === ''"
                                                    class="text-danger">Please select
                                                    title</small>
                                            </div>
                                            <div class="form-group col col-4">
                                                <label class="col-form-label">First Name:</label>
                                                <input formControlName="firstName" type="text" class="form-control"
                                                    [(ngModel)]="employee.firstName">
                                                <small *ngIf="first.touched && first.errors?.required"
                                                    class="text-danger">First
                                                    name
                                                    is required</small>
                                            </div>
                                            <div class="form-group col col-5">
                                                <label class="col-form-label">Last Name:</label>
                                                <input formControlName="lastName" type="text" class="form-control"
                                                    [(ngModel)]="employee.lastName">
                                                <small *ngIf="last.touched && last.errors?.required"
                                                    class="text-danger">Last
                                                    name is
                                                    required</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col col-4">
                                                <label class="col-form-label">Role:</label>
                                                <select class="dropdown-toggle" formControlName="role"
                                                    [(ngModel)]="employee.role">
                                                    <option *ngFor="let r of roles">{{r}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">Email Id:</label>
                                            <input type="text" formControlName="email" id="email" class="form-control"
                                                [(ngModel)]="employee.email" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Date of Birth:</label>
                                            <input formControlName="birthdate" type="date" class="form-control"
                                                max="{{today}}" [(ngModel)]="employee.birthdate">
                                            <small *ngIf="dob.touched && dob.errors?.required" class="text-danger">Date
                                                of
                                                Birth is
                                                required</small>
                                        </div>

                                        <div class="row form-group mb-1 mt-1">
                                            <div class="col col-md-12 text-center">
                                                <button type="button"
                                                    [disabled]="form.invalid || title.value === '' || buttonLabel !== 'Edit'"
                                                    class="btn btn-success"
                                                    (click)="editEmployee()">{{buttonLabel}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="reset" class="btn btn-danger">Clear</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Change Password">
                <admin-change-password [user]="employee"></admin-change-password>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>