<div class="content mat-elevation-z8">
    <div class="card-wrapper">
        <div class="row">
        </div>
        <mat-tab-group>
            <mat-tab label="Profile Details">

                <mat-card class="example-card mb-5">
                    <mat-card-content>

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-success">Edit</button>
                    </mat-card-actions>
                </mat-card>

            </mat-tab>
            <mat-tab label="Change Password">

                <mat-card class="example-card mb-2">
                    <div class="container-fluid">
                        <div class="row mt-5">
                            <div class="col"></div>
                            <div class="col-4">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <form [formGroup]="form" (ngSubmit)="submit()">
                                            <div class="mb-3">
                                                <h4 class="text-dark text-muted">Change Password</h4>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="oldpassword" class="form-label">Old Password</label>
                                                <input autocomplete="off" formControlName="oldpassword"
                                                    name="oldpassword" id="oldpassword" type="password"
                                                    class="form-control" (blur)="isPasswordCorrect()">
                                                <div *ngIf="f['oldpassword'].touched && f['oldpassword'].invalid">
                                                    <div *ngIf="f['oldpassword'].errors && f['oldpassword'].errors['required']"
                                                        class="text-danger">This field cannot be empty</div>
                                                    <div *ngIf="f['oldpassword'].errors!['pattern']"
                                                        class="text-danger">Password entry does
                                                        not meet criteria</div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="password" class="form-label">New Password</label>
                                                <input autocomplete="off" formControlName="password" name="password"
                                                    id="password" type="password" class="form-control">
                                                <div *ngIf="f['password'].touched && f['password'].invalid">
                                                    <div *ngIf="f['password'].errors && f['password'].errors['required']"
                                                        class="text-danger">This field cannot be empty</div>
                                                    <div *ngIf="f['password'].errors!['pattern']" class="text-danger">
                                                        Password entry does
                                                        not meet criteria</div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                <input autocomplete="off" formControlName="confirmPassword"
                                                    name="confirmPassword" id="confirmPassword" type="password"
                                                    class="form-control">
                                                <div
                                                    *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
                                                    <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']"
                                                        class="text-danger">This field cannot be empty</div>

                                                    <div *ngIf="f['confirmPassword'].errors?.['m']" class="text-danger">
                                                        Confirm password not
                                                        matched with the above password</div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success otp"
                                                [disabled]="form.invalid">Change
                                                Password</button>
                                            <div *ngIf="messageFlag" class="errorMessage bg-light text-dark">
                                                {{customMessage}}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </mat-card>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>