@media only screen and (max-width: 576px) {
    a{
        font-size: small;
        margin: 0% !important;
    }
    .noteTitle {
        font-size: small ;
    }
    .btn-success{
        margin: 0% !important;
    }
    .btn-warning{
        margin: 5% !important;
    }
}