<mat-tab-group>
    <mat-tab label="Add Medication">
        <add-medications [appointmentId]="data.appointment.appointmentId"
            (update)="setAppointmentDataCollectionStatus()"></add-medications>
    </mat-tab>

    <mat-tab label="Add Procedure">
        <add-procedures [appointmentId]="data.appointment.appointmentId"
            (update)="setAppointmentDataCollectionStatus()"></add-procedures>
    </mat-tab>

    <mat-tab label="Add Diagnosis">
        <add-diagnosis [appointmentId]="data.appointment.appointmentId" 
            (update)="setAppointmentDataCollectionStatus()"></add-diagnosis>
    </mat-tab>
</mat-tab-group>