<div class="container-fluid mb-4">
    <div class="row mt-5">
        <div class="col col-3"></div>
        <div class="col col-6">
            <div class="card shadow">
                <div class="card-body mt-4">
                    <h3 class="text-center text-muted text-dark">Patient Registration Form</h3>
                    <form [formGroup]="form" (submit)="registerPatient()">
                        <div class="form-group">
                            <label class="col-form-label">Title:</label>
                            <select class="dropdown-toggle" formControlName="title">
                                <option value='' selected></option>
                                <option *ngFor="let title of titles" value="{{title}}">{{title | titlecase}}
                                </option>
                            </select>
                            <small *ngIf="title.touched && title.value === ''" class="text-danger">Please select
                                title</small>
                        </div>

                        <div class="row">
                            <div class="form-group col col-6">
                                <label class="col-form-label">First Name:</label>
                                <input formControlName="firstName" type="text" class="form-control">
                                <small *ngIf="first.touched && first.errors?.required" class="text-danger">First
                                    name
                                    is required</small>
                            </div>
                            <div class="form-group col col-6">
                                <label class="col-form-label">Last Name:</label>
                                <input formControlName="lastName" type="text" class="form-control">
                                <small *ngIf="last.touched && last.errors?.required" class="text-danger">Last
                                    name is
                                    required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-form-label">Email Id:</label>
                            <input type="text" formControlName="email" id="email" class="form-control" (blur)="onEmailEntered()">
                            <div *ngIf="email.touched && email.errors">
                                <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                                <small *ngIf="email.errors?.email" class="text-danger">Not a valid email id</small>
                            </div>
                            <small *ngIf="email.dirty && !email.errors && emailExists" class="text-danger">Email is
                                already used</small>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="col-form-label">Phone Number:</label>
                            <input formControlName="phone" type="text" class="form-control" (blur)="onPhoneEntered()">
                            <div *ngIf="phone.touched && phone.errors">
                                <small *ngIf="phone.errors?.required" class="text-danger">Phone number is
                                    required</small>
                                <small *ngIf="phone.errors?.pattern" class="text-danger">Not a valid phone
                                    number</small>
                            </div>
                            <small *ngIf="phone.dirty && !phone.errors && phoneExists" class="text-danger">Phone
                                number is already used</small>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Date of Birth:</label>
                            <input formControlName="birthdate" type="date" class="form-control" [max]="today">
                            <small *ngIf="dob.touched && dob.errors?.required" class="text-danger">Date of Birth is
                                required</small>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input formControlName="password" id="password" autocomplete="off" class="form-control">
                            <div *ngIf="pass.touched && pass.errors">
                                <small *ngIf="pass.errors?.required" class="text-danger">Password is
                                    required</small>
                                <small *ngIf="pass.errors?.isValid" class="text-danger">Password does not meet
                                    required criteria
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPass" class="col-form-label">Confirm Password:</label>
                            <input formControlName="confirmPass" id="confirmPass" autocomplete="off"
                                class="form-control">
                            <div *ngIf="cpass.touched && (cpass.errors || form.errors)">
                                <small *ngIf="cpass.errors?.required" class="text-danger">Password confirmation is
                                    required</small>
                                <small *ngIf="!cpass.errors?.required && form.errors?.areEqual" class="text-danger">Password entries do not
                                    match</small>
                            </div>
                        </div>

                        <div>
                            <button type="submit" [disabled]="form.invalid || title.value === ''"
                                class="btn btn-success">Register</button>
                            <button type="reset" class="btn btn-danger">Clear</button>&nbsp;&nbsp;
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-3"></div>
    </div>
</div>