<div class="row justify-content-center mt-5">
    <div class="col col-md-8">
        <textarea type="text" #reason placeholder="Reason for {{type}}..." [value]="reasonText" class="form-control"></textarea>
    </div>
</div>

<div class="row text-center form-group mt-4 mb-3">
    <div class="col col-md-12">
        <button class="btn btn-primary me-3" (click)="emitReasonEvent(reason.value.trim())" [disabled]="reason.value.trim() == ''">
            Submit
        </button>
        <button class="btn btn-warning ms-3" (click)="emitReasonEvent('')">Close</button>
    </div>
</div>