 <main style="background-image:url('assets/background.png')">
  <section class="left-sec">
   <h2> We Are Here For Your Care</h2>
   <h1>  We The Best Doctors</h1>
   <p>We are here for your care 24/7. Any help just call us.</p>
   <button routerLink="/register">
     Register with Us Today !
   </button>
  </section>
 </main>

<!-- carousel separated -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <h1 class="text-center fw-bold display-1 mb-5">Specializations</h1>
    <div class="row slider">
        <div class="col-md-3">
            <div class="details">
                <h2>Haematology & BMT </h2>
                <img src="assets/bmt.png">
            </div>
        </div>
        <div class="col-md-3">
            <div class="details">
                <h2>Cancer Cure </h2>
                <img src="assets/cancer.png">
            </div>
        </div>
        <div class="col-md-3">
            <div class="details">
                <h2>Cardiology</h2>
                <img src="assets/cardio.png">
            </div>
        </div>
        <div class="col-md-3">
            <div class="details">
                <h2>Surgical Gastroenterology </h2>
                <img src="assets/gastro.png">
            </div>
        </div>
        <div class="col-md-3">
            <div class="details">
                <h2>IVF & Fertility </h2>
                <img src="assets/ivf.png">
            </div>
        </div>
        <div class="col-md-3">
            <div class="details">
                <h2>Knee Replacement </h2>
                <img src="assets/knee.png">
            </div>
        </div>
        <div class="col-md-3">
            <div class="details">
                <h2>Organ Transplantation</h2>
                <img src="assets/organ.png">
            </div>
        </div>      
        <div class="col-md-3">
            <div class="details">
                <h2>Pediatrics</h2>
                <img src="assets/pedia.png">
            </div>
        </div>        
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $('.slider').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>