.row {
    margin-top: 2em;
}

.row:first-child {
    margin-top: 1em;
}

input[disabled], textarea[disabled] {
    background-color: #f2f2f2;
}

th, td {
    margin: 0;
    padding: 1em;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
}

th:nth-child(2), td:nth-child(2), 
th:nth-child(3), td:nth-child(3) {
    text-align: left;
}

thead > tr:first-child {
    background-color: #f8f8f8;
    border: 1px solid lightgray;
}

.bg-warn {
    background-color: #fff0f0;
}