<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card shadow  mb-4">
                <div class="text-center">
                    <h4 class="text-dark text-muted mb-4">Register</h4>
                    <h6 class="text-dark text-muted mb-3">For Users !</h6>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="registerPatient()">
                    <div class="mb-3 radioClass mb-4">
                        <label>Title</label> &nbsp;&nbsp;
                        <input class="form-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            checked>
                        <label class="form-control-label" for="flexRadioDefault1"> Mr.</label>&nbsp;
                        <input class="form-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-control-label" for="flexRadioDefault2"> Miss.</label>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName">
                        <div *ngIf="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].invalid"
                            class="alert text-danger">First Name cannot be empty</div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName">
                        <div *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].invalid"
                            class="alert text-danger">Last Name cannot be empty</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" formControlName="email" class="form-control" id="email">
                        <div *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid"
                            class="alert text-danger">
                            <div *ngIf="registerForm.controls['email'].errors?.['required']">Email cannot be blank</div>
                            <div *ngIf="registerForm.controls['email'].errors?.['email']">Incorrect email format</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                        <input type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth"
                            max="2005-01-01" min="1900-01-01">
                    </div>
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Contact Number</label>
                        <input type="number" formControlName="contactNumber" class="form-control" id="contactNumber">
                        <div *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid"
                            class="alert text-danger">
                            <div *ngIf="registerForm.controls['contactNumber'].errors?.['required']">Contact Number
                                cannot be blank</div>
                            <div *ngIf="registerForm.controls['contactNumber'].errors?.['email']">Incorrect contact
                                format</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" formControlName="password" class="form-control" id="password">
                        <div *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid"
                            class="alert text-danger">
                            <div *ngIf="registerForm.controls['password'].errors?.['required']">Password cannot be blank
                            </div>
                            <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Minimum 8 alpha-numeric
                                characters required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            id="confirmPassword">
                        <div *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword'].invalid"
                            class="alert text-danger">
                            <div *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">Confirm Password
                                cannot be blank</div>
                            <div *ngIf="registerForm.controls['confirmPassword'].errors?.['m']">Confirm password not
                                matched with the above password</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button [disabled]="!registerForm.valid" type="submit"
                                class="btn btn-success mb-2">Register</button>
                        </div>
                    </div>
                </form>
                <a style="color:white;" routerLink="/login" href="#">Already registered? Click here to Login</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>