<div class="container-fluid mt-4">
  <div class="row">
    <div class="col col-md-12 col-sm-12">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="form-group col col-md-4 col-sm-12">
                <label class="col-form-label">Patient ID:</label>
                <input formControlName="patientId" type="text" class="form-control" readonly>
              </div>
            </div>

            <div class="row">
              <div class="form-group col col-md-4 col-sm-12">
                <label class="col-form-label">Age (Years):</label>
                <input formControlName="age" type="text" class="form-control" readonly>
              </div>
              <div class="form-group col col-md-4 col-sm-12">
                <label class="col-form-label">Gender:</label>
                <select class="dropdown-toggle" formControlName="gender">
                  <option [value]="''"></option>
                  <option [value]="'MALE'">Male</option>
                  <option [value]="'FEMALE'">Female</option>
                </select>
                <small *ngIf="gender.touched && gender.value === ''" class="text-danger">Please select
                  Gender</small>
              </div>
              <div class="form-group col col-md-4 col-sm-12">
                <label class="col-form-label">Language:</label>
                <select class="dropdown-toggle" formControlName="language">
                  <option value=""></option>
                  <option *ngFor="let lang of languages" [value]="lang">
                    {{ lang | titlecase }}
                  </option>
                </select>
                <small *ngIf="language.touched && language.value === ''" class="text-danger">Please select
                  Language</small>
              </div>
            </div>

            <div class="row">
              <div class="form-group col col-md-6 col-sm-12">
                <label class="col-form-label">Race:</label>
                <input formControlName="race" type="text" class="form-control">
                <small *ngIf="race.touched && race.errors?.required" class="text-danger">Race is
                  required</small>
              </div>
              <div class="form-group col col-md-6 col-sm-12">
                <label class="col-form-label">Ethnicity:</label>
                <input formControlName="ethnicity" type="text" class="form-control">
                <small *ngIf="ethnicity.touched && ethnicity.errors?.required" class="text-danger">Ethnicity
                  is required</small>
              </div>
            </div>

            <!-- <div class="form-group col col-5">
                      <label class="col-form-label">Address:</label>
                      <textarea formControlName="address" class="form-control"
                        [(ngModel)]="patient.demographics.address"></textarea>
                      <small *ngIf="address.touched && address.errors?.required" class="text-danger"> Address is
                        Required(minimum length 10)
                      </small>
                    </div>
                  </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>