<mat-tab-group>
    <mat-tab label="Appointment Details">
        <appointment-details [data]="data"></appointment-details>
    </mat-tab>

    <!-- --------------------------------------------------------------------------------------------------------------------- -->

    <mat-tab label="Patient Details">
        <mat-card class="example-card">
            <mat-card-content>
                <form autofocus="off" [formGroup]="patientDetailsForm">
                    <mat-card-content>
                        <h3><b>Personal Details</b></h3>
                        <div>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">FirstName</label>
                                <input type="text" formControlName="firstName" class="form-control" id="firstName"
                                    [(ngModel)]="patient.firstName">
                                <div *ngIf="patientDetailsForm.controls['firstName'].touched && patientDetailsForm.controls['firstName'].invalid"
                                    class="alert text-danger">
                                    {{errorMessage}}
                                    <div *ngIf="patientDetailsForm.controls['firstName'].errors?.['required']">FirstName
                                        cannot
                                        be
                                        blank
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">LastName</label>
                                <input type="text" formControlName="lastName" class="form-control" id="lastName"
                                    [(ngModel)]="patient.lastName">
                                <div *ngIf="patientDetailsForm.controls['lastName'].touched && patientDetailsForm.controls['lastName'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['lastName'].errors?.['required']">LastName
                                        cannot
                                        be
                                        blank</div>
                                    <!-- <div *ngIf="vitalDetailsForm.controls['weight'].errors?.pattern">Invalid weight cannot be
                                        blank</div> -->

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" formControlName="email" class="form-control" id="email"
                                    [(ngModel)]="patient.email">
                                <div *ngIf="patientDetailsForm.controls['email'].touched && patientDetailsForm.controls['email'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['email'].errors?.['required']">Email
                                        cannot be blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="dob" class="form-label">Date Of Birth</label>
                                <input type="date" formControlName="dob" class="form-control" id="dob"
                                    [(ngModel)]="patient.birthdate">
                                <div *ngIf="patientDetailsForm.controls['dob'].touched && patientDetailsForm.controls['dob'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['dob'].errors?.['required']">Date Of Birth
                                        cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone No</label>
                                <input type="text" formControlName="phone" class="form-control" id="phone"
                                    [(ngModel)]="patient.phone">
                                <div *ngIf="patientDetailsForm.controls['phone'].touched && patientDetailsForm.controls['phone'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['phone'].errors?.['required']">
                                        Phone No cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="text" formControlName="age" class="form-control" id="age"
                                    [(ngModel)]="demographics.age">
                                <div *ngIf="patientDetailsForm.controls['age'].touched && patientDetailsForm.controls['age'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['age'].errors?.['required']">
                                        Age cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <input type="text" formControlName="gender" class="form-control" id="gender"
                                    [(ngModel)]="demographics.gender">
                                <div *ngIf="patientDetailsForm.controls['gender'].touched && patientDetailsForm.controls['gender'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['gender'].errors?.['required']">
                                        Gender cannot be
                                        blank</div>

                                </div>
                            </div>
                            <h3><b>Demographic Details</b></h3>
                            <div class="mb-3">
                                <label for="race" class="form-label">Race</label>
                                <input type="text" formControlName="race" class="form-control" id="race"
                                    [(ngModel)]="demographics.race">
                                <div *ngIf="patientDetailsForm.controls['race'].touched && patientDetailsForm.controls['race'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['race'].errors?.['required']">
                                        Race cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="ethnicity" class="form-label">Ethnicity</label>
                                <input type="text" formControlName="ethnicity" class="form-control" id="ethnicity"
                                    [(ngModel)]="demographics.ethnicity">
                                <div *ngIf="patientDetailsForm.controls['ethnicity'].touched && patientDetailsForm.controls['ethnicity'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['ethnicity'].errors?.['required']">
                                        Ethnicity cannot be
                                        blank</div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="language" class="form-label">Language</label>
                                <input type="text" formControlName="language" class="form-control" id="language"
                                    [(ngModel)]="demographics.language">
                                <div *ngIf="patientDetailsForm.controls['language'].touched && patientDetailsForm.controls['language'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['language'].errors?.['required']">
                                        Language cannot be
                                        blank</div>
                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <textarea type="text" formControlName="address" class="form-control" id="address"
                                    [(ngModel)]="demographics.address"></textarea>
                                <div *ngIf="patientDetailsForm.controls['address'].touched && patientDetailsForm.controls['address'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['address'].errors?.['required']">
                                        Address cannot be
                                        blank</div>

                                </div>
                            </div> -->
                            <h3><b>Nominee Details</b></h3>
                            <div class="mb-3">
                                <label for="nomineeFirstName" class="form-label">FirstName</label>
                                <input type="text" formControlName="nomineeFirstName" class="form-control"
                                    id="nomineeFirstName" [(ngModel)]="nominee.firstName">
                                <div *ngIf="patientDetailsForm.controls['nomineeFirstName'].touched && patientDetailsForm.controls['nomineeFirstName'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['nomineeFirstName'].errors?.['required']">
                                        FirstName cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nomineeLastName" class="form-label">LastName</label>
                                <input type="text" formControlName="nomineeLastName" class="form-control"
                                    id="nomineeLastName" [(ngModel)]="nominee.lastName">
                                <div *ngIf="patientDetailsForm.controls['nomineeLastName'].touched && patientDetailsForm.controls['nomineeLastName'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['nomineeLastName'].errors?.['required']">
                                        LastName cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nomineeEmail" class="form-label">Email</label>
                                <input type="text" formControlName="nomineeEmail" class="form-control" id="nomineeEmail"
                                    [(ngModel)]="nominee.email">
                                <div *ngIf="patientDetailsForm.controls['nomineeEmail'].touched && patientDetailsForm.controls['nomineeEmail'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['nomineeEmail'].errors?.['required']">
                                        Email cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nomineePhone" class="form-label">Phone</label>
                                <input type="text" formControlName="nomineePhone" class="form-control" id="nomineePhone"
                                    [(ngModel)]="nominee.phone">
                                <div *ngIf="patientDetailsForm.controls['nomineePhone'].touched && patientDetailsForm.controls['nomineePhone'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['nomineePhone'].errors?.['required']">
                                        Phone cannot be
                                        blank</div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="relation" class="form-label">Relation</label>
                                <input type="text" formControlName="relation" class="form-control" id="relation"
                                    [(ngModel)]="nominee.relation">
                                <div *ngIf="patientDetailsForm.controls['relation'].touched && patientDetailsForm.controls['relation'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['relation'].errors?.['required']">
                                        Relation cannot be
                                        blank</div>

                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="nomineeAddress" class="form-label">Address</label>
                                <textarea type="text" formControlName="nomineeAddress" class="form-control"
                                    id="nomineeAddress" [(ngModel)]="nominee.address"></textarea>
                                <div *ngIf="patientDetailsForm.controls['nomineeAddress'].touched && patientDetailsForm.controls['nomineeAddress'].invalid"
                                    class="alert text-danger">
                                    <div *ngIf="patientDetailsForm.controls['nomineeAddress'].errors?.['required']">
                                        Address cannot be
                                        blank</div>

                                </div>
                            </div> -->
                        </div>
                    </mat-card-content>

                    <div class="row form-group text-center mt-3">
                        <div class="col col-md-12 text-center">
                            <button class="btn btn-success mb-2 me-3" (click)="editPatientDetails()">Update</button>
                            <button class="btn btn-warning mb-2 ms-3" (click)="close()">Close</button>
                        </div>
                    </div>
                </form>

            </mat-card-content>

        </mat-card>
    </mat-tab>
    <mat-tab label="Vital Sign Details">
        <mat-card class="example-card">
            <form autofocus="off" [formGroup]="vitalDetailsForm">
                <mat-card-content>
                    <div>
                        <div class="mb-3">
                            <label for="height" class="form-label">Height in cm</label>
                            <input type="number" formControlName="height" class="form-control" id="height" min="1"
                                max="250" [(ngModel)]="result.height" (blur)="validateHeight()">
                            <div *ngIf="vitalDetailsForm.controls['height'].touched && vitalDetailsForm.controls['height'].invalid"
                                class="alert text-danger">
                                {{errorMessage}}
                                <div *ngIf="vitalDetailsForm.controls['height'].errors?.['required']">Height cannot be
                                    blank
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Weight in Kg</label>
                            <input type="text" formControlName="weight" class="form-control" id="weight"
                                [(ngModel)]="result.weight">
                            <div *ngIf="vitalDetailsForm.controls['weight'].touched && vitalDetailsForm.controls['weight'].invalid"
                                class="alert text-danger">
                                <div *ngIf="vitalDetailsForm.controls['weight'].errors?.['required']">weight cannot be
                                    blank</div>
                                <div *ngIf="vitalDetailsForm.controls['weight'].errors?.pattern">Enter Valid Weight
                                    e.g.66.15</div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="bloodPressure" class="form-label">Blood Pressure in mm Hg</label>
                            <input type="text" formControlName="bloodPressure" class="form-control" id="bloodPressure"
                                [(ngModel)]="result.bloodPressure">
                            <div *ngIf="vitalDetailsForm.controls['bloodPressure'].touched && vitalDetailsForm.controls['bloodPressure'].invalid"
                                class="alert text-danger">
                                <div *ngIf="vitalDetailsForm.controls['bloodPressure'].errors?.['required']">Blood
                                    Pressure cannot be blank</div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="bodyTemperature" class="form-label">Body Temperature in Fahrenheit</label>
                            <input type="text" formControlName="bodyTemperature" class="form-control"
                                id="bodyTemperature" [(ngModel)]="result.bodyTemperature">
                            <div *ngIf="vitalDetailsForm.controls['bodyTemperature'].touched && vitalDetailsForm.controls['bodyTemperature'].invalid"
                                class="alert text-danger">
                                <div *ngIf="vitalDetailsForm.controls['bodyTemperature'].errors?.['required']">Body
                                    Temperature cannot be
                                    blank</div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="respirationRate" class="form-label">Respiration Rate in BPM</label>
                            <input type="text" formControlName="respirationRate" class="form-control"
                                id="respirationRate" [(ngModel)]="result.respirationRate">
                            <div *ngIf="vitalDetailsForm.controls['respirationRate'].touched && vitalDetailsForm.controls['respirationRate'].invalid"
                                class="alert text-danger">
                                <div *ngIf="vitalDetailsForm.controls['respirationRate'].errors?.['required']">
                                    Respiration Rate cannot be
                                    blank</div>

                            </div>
                        </div>
                    </div>
                </mat-card-content>

                <div class="row form-group mt-3 text-center">
                    <div class="col col-md-12 text-center" *ngIf="result.vitalId!=0">
                        <button class="btn btn-success mb-2 me-3" (click)="editVitalSigns()">Save</button>
                        <button class="btn btn-danger mb-2 ms-3 me-3" (click)="deleteVitalDetails()">Clear</button>
                        <button class="btn btn-warning mb-2 ms-3" (click)="close()">Close</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>