<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body mt-4 mb-4">
                    <form [formGroup]="form" (ngSubmit)="isOtpSent ? resetPassword() : onSendOtpClick()">
                        <div class="mb-4">
                            <h4 class="text-dark text-muted">Reset Forgotten Password</h4>
                        </div>

                        <div class="form-group mb-4">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" formControlName="email" id="email" class="form-control">
                            <div *ngIf="email.touched && email.errors">
                                <small *ngIf="email.touched && email.errors?.required" class="text-danger">Email is
                                    required for sending OTP</small>
                                <small *ngIf="!email.errors?.required && email.errors?.email" class="text-danger">Not a
                                    valid email address</small>
                            </div>
                        </div>

                        <div class="form-group mb-4" *ngIf="isOtpSent">
                            <label for="otp" class="form-label">Verification OTP</label>
                            <input type="number" formControlName="otp" id="otp" autocomplete="off" class="form-control">
                            <div *ngIf="otp.touched && otp.invalid">
                                <small *ngIf="otp.errors.required" class="text-danger">OTP is required for
                                    to reset passowrd</small>
                                <small *ngIf="otp.errors?.minlength || otp.errors?.maxLength" class="text-danger">OTP
                                    should have exactly 6 digits</small>
                            </div>
                        </div>

                        <div class="form-group mb-4" *ngIf="isOtpSent">
                            <label for="newPass" class="form-label">New Password</label>
                            <input type="text" formControlName="newPass" id="newPass" autocomplete="off"
                                class="form-control">
                            <div *ngIf="newPass.touched && newPass.invalid">
                                <small *ngIf="newPass.errors?.required" class="text-danger">New password is required to
                                    replace forgotten one
                                </small>
                                <small *ngIf="!newPass.errors?.required && newPass.errors?.isValid"
                                    class="text-danger">Password does not meet required criteria
                                </small>
                            </div>
                        </div>

                        <div class="form-group mb-4" *ngIf="isOtpSent">
                            <label for="confirm" class="form-label">Confirm Password</label>
                            <input type="confirm" formControlName="confirm" id="confirm" autocomplete="off"
                                class="form-control">
                            <div *ngIf="confirm.touched && confirm.invalid">
                                <small *ngIf="confirm.errors?.required" class="text-danger">Password confirmation is
                                    required</small>
                                <small *ngIf="!confirm.errors.required && form.errors?.areEqual"
                                    class="text-danger">Passwords are not matching</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <a type="button" class="btn btn-link login" routerLink="/login">Back to Login</a>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success"
                                    [disabled]="email.invalid">{{buttonLabel}}</button>
                            </div>
                        </div>

                        <div *ngIf="message !== ''" class="errorMessage text-danger mt-4">{{message}}</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>