<div class="head-container">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Staff Management">
            <employee-tab></employee-tab>
        </mat-tab>
        <mat-tab label="Patient Management">
            <h2 class="mt-5 mb-5 text-center">Paginated list of all the Patients</h2>
        </mat-tab>
        <mat-tab label="Data Management">
            <h2 class="mt-5 mb-5 text-center">Provision to add data to master tables</h2>
        </mat-tab>
        <mat-tab label="Profile Management">
            <h2 class="mt-5 mb-5 text-center">Change password or deactivate this account</h2>
        </mat-tab>
        <mat-tab disabled>
            <ng-template mat-tab-label>
                <button class="btn btn-warning" (click)="logout()">Logout</button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>