div.head-container {
    display: flex;
    justify-items: center;
    width: 98%;
    margin: 1em;
}

mat-tab-group {
    flex: 1;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: large;
}

button {
    margin: 0.3em 2em;
    padding: 0.2em 1em;
    font-size: 12pt;
    height: 45px;
}
