<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
  
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Emergency Contact Form</h1>
          <form [formGroup]="emergencyForm">
              <div class="form-group">
                <label class="col-form-label">FirstName:</label>
                <input formControlName="firstname" type="text" class="form-control">
                <small *ngIf="firstname?.invalid && firstname?.touched" class="text-danger">firstame is Required</small> 
              </div>
              <div class="form-group">
                <label class="col-form-label">LastName:</label>
                <input formControlName="lastname" type="text" class="form-control">
                <small *ngIf="lastname?.invalid && lastname?.touched" class="text-danger">lastname is Required</small> 
              </div>
              
              <div class="form-group">
                <label class="col-form-label">Relationship:</label>
                <select formControlName="relationship" class="form-select" aria-label="Default select example">
                  <option value="Mother">Mother</option>
                  <option value="Father">Father</option>
                  <option value="Brother">Brother</option>
                  <option value="Sister">Sister</option>
                  <option value="Other">Other</option>
                </select>
                <small *ngIf="relationship?.invalid && relationship?.touched" class="text-danger">relationship is Required</small> 
              </div>
              <div class="form-group">
                <label class="col-form-label">Email:</label>
                <input formControlName="email" type="email" class="form-control" >
                <small *ngIf="email?.invalid && email?.touched" class="text-danger">Email is Required</small>
              </div>
              <div class="form-group">
                <label class="col-form-label">Phone:</label>
                <input formControlName="phone" type="text" class="form-control" >
                <small *ngIf="phone?.invalid && phone?.touched" class="text-danger">Phone no is Required with only 10 digits </small>
              </div>
              <div class="form-group">
                <label class="col-form-label">Address:</label>
                <textarea formControlName="address" class="form-control" ></textarea>
                <small *ngIf="address?.invalid && address?.touched" class="text-danger"> address is Required(minimum length 10)</small> 
              </div>
              <div>
                <br>
              <button (click)="cancel()"  type="button" class="btn btn-success">cancel</button>&nbsp;&nbsp;
              <button (click)="clicksub()" [disabled]="emergencyForm.invalid" type="button" class="btn btn-primary">submit</button>
              </div>
            </form>
      </div>
  </div>
</div>