<div class="card   mb-4" style="width:600px">
    <div class="text-center">
        <h1 class="text-dark text-muted mb-4"> Note Details</h1>
    </div>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title >Sent To : {{note.sendTo}}</mat-card-title>
          <mat-card-subtitle>Designation : {{note.designation}}</mat-card-subtitle>
          
        </mat-card-title-group>
        <mat-card-content>
         Message : {{note.message}}
         <br><br>
         Sent On : {{note.date}}
         <br><br>
         <b>Urgency Level : {{note.urgencyLevel}}</b>
        </mat-card-content>
      </mat-card>
    

</div>