<div class="card mb-4" style="width:600px">
  <div class="text-center mt-4">
    <h1 class="text-dark text-muted mb-4"> Note Details</h1>
  </div>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{data.sendToName}}</mat-card-title>
    </mat-card-title-group>
    <br>
    <mat-card-content>
      Message : {{data.note.message}}
      <br><br>
      Sent On : {{data.note.date}}
      <br><br>
      <b>Urgency Level : {{data.note.urgencyLevel.replace('_',' ') | titlecase}}</b>
    </mat-card-content>
  </mat-card>


</div>