<div class="container-fluid">
  <div class="row mt-5">
    <div class="col col-3"></div>
    <div class="col col-6">
      <div class="card shadow">
        <div class="card-body mt-4 mb-4">
          <h3 class="text-center text-muted text-dark">Demographic Details Form</h3>
          <form [formGroup]="form" (submit)="updateDemographics()">
            <div class="row">
              <div class="form-group col col-6">
                <label class="col-form-label">First Name:</label>
                <input formControlName="firstName" type="text" class="form-control">
                <small *ngIf="firstName.touched && firstName.errors?.required" class="text-danger">First
                  name
                  is required</small>
              </div>
              <div class="form-group col col-6">
                <label class="col-form-label">Last Name:</label>
                <input formControlName="lastName" type="text" class="form-control">
                <small *ngIf="lastName.touched && lastName.errors?.required" class="text-danger">Last
                  name is
                  required</small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Gender:</label>
              <div class="form-check form-check-inline">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                  value="MALE">
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                  value="FEMALE">
                <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>

            </div>
            <div class="form-group">
              <label class="col-form-label">Date of Birth:</label>
              <input formControlName="birthdate" type="date" class="form-control">
              <small *ngIf="dob?.invalid && dob?.touched" class="text-danger">dob is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Age:</label>
              <input formControlName="age" type="number" class="form-control">
              <small *ngIf="age?.invalid && age?.touched" class="text-danger"></small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Email:</label>
              <input formControlName="email" type="email" class="form-control">
              <small *ngIf="email?.invalid && email?.touched" class="text-danger">Email is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Phone:</label>
              <input formControlName="phone" type="text" class="form-control">
              <small *ngIf="phone?.invalid && phone?.touched" class="text-danger">Phone no is Required(minimum length
                10,numbers are only allowed)</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Language:</label>
              <select formControlName="language" class="form-select" aria-label="Default select example">
                <option value="">Select language</option>
                <option *ngFor="let lang of this.languages" [value]="lang">{{lang | titlecase}}</option>
              </select>
              <small *ngIf="language.touched && language.value === ''" class="text-danger">
                Please choose some language
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Race:</label>
              <input formControlName="race" type="text" class="form-control">
              <small *ngIf="race?.invalid && race?.touched" class="text-danger">race is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Ethnicity:</label>
              <input formControlName="ethnicity" type="text" class="form-control">
              <small *ngIf="ethnicity?.invalid && ethnicity?.touched" class="text-danger">ethnicity is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Address:</label>
              <textarea formControlName="address" class="form-control"></textarea>
              <small *ngIf="address?.invalid && address?.touched" class="text-danger"> address is Required (minimum
                length 10)</small>
            </div>
            <div>
              <button type="submit" [disabled]="form.invalid || language.value == ''"
                class="btn btn-success">Save</button>
              <button (click)="clear()" class="btn btn-danger">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-3"></div>
  </div>
</div>