
input[type=radio] {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

button {
    margin-right: 1em;
    margin-top: 1.5em;
}

h3 {
    margin-bottom: 0.66em;
}

.form-group {
    margin-top: 1em;
}