<div class="content mat-elevation-z8">
    <div class="card-wrapper">
        <div class="row">

            <div style="display: flex; margin: 0.2em 0em; align-items: center; justify-items: flex-start; gap: 1em;">
                <div style="margin:0; margin-left: 1em; padding: 0; font-size: 16px;"
                    class="text-dark d-inline-block">
                    <mat-form-field appearance="standard">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search by any field" #input>
                    </mat-form-field>
                </div>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="table">
                    <ng-container matColumnDef="patientId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.patientId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name | titlecase}}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
                        <td mat-cell *matCellDef="let row">{{row.email | lowercase}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No. </th>
                        <td mat-cell *matCellDef="let row">{{row.phone}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-select [value]="row.status" name="status" [ngClass]="getStatusColor(row.status)"
                                (valueChange)="updatePatientStatus(row.patientId, selectStatus.value)" #selectStatus>
                                <mat-option class="text-success bg-white" [value]="'ACTIVE'">Active</mat-option>
                                <mat-option class="text-danger bg-white" [value]="'BLOCKED'">Blocked</mat-option>
                                <mat-option class="text-secondary bg-white" [value]="'INACTIVE'">Inactive</mat-option>
                            </mat-select>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button class="btn btn-success"
                                (click)="openViewPatientDialog(row.patientId)">View</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                            No data matching the filter "{{input.value}}"
                        </td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>