<div class="row" style="width: 98%;padding: 1em;">
    <div class="col col-md-5 emp-register-form">
        <h2 class="text-center text-muted text-dark">Employee Registration</h2>
        <form [formGroup]="form" (submit)="registerEmployee()">
            <div class="row">
                <div class="form-group col col-2">
                    <label class="col-form-label">Title:</label>
                    <select class="dropdown-toggle" formControlName="title">
                        <option value='' selected></option>
                        <option *ngFor="let t of titles" value="{{t}}">{{t | titlecase}}</option>
                    </select>
                    <small *ngIf="title.touched && title.value === ''" class="text-danger">Please select
                        title</small>
                </div>
                <div class="form-group col col-5">
                    <label class="col-form-label">First Name:</label>
                    <input formControlName="firstName" type="text" class="form-control">
                    <small *ngIf="first.touched && first.errors?.required" class="text-danger">First
                        name
                        is required</small>
                </div>
                <div class="form-group col col-5">
                    <label class="col-form-label">Last Name:</label>
                    <input formControlName="lastName" type="text" class="form-control">
                    <small *ngIf="last.touched && last.errors?.required" class="text-danger">Last
                        name is
                        required</small>
                </div>
            </div>

            <div class="row">
                <div class="form-group col col-4">
                    <label class="col-form-label">Role:</label><br>
                    <select class="dropdown-toggle" formControlName="role" (change)="onRoleSelect()">
                        <option value='' selected></option>
                        <option *ngFor="let r of roles" value="{{r}}">{{r | titlecase}}</option>
                    </select>
                    <small *ngIf="role.touched && role.value === ''" class="text-danger">Please select
                        role</small>
                </div>
                <div class="form-group col col-8">
                    <label class="col-form-label">Specialization:</label><br>
                    <input formControlName="specialization" type="text" class="form-control">
                    <small *ngIf="spec.enabled && spec.touched && spec.invalid" class="text-danger">Give short info
                        only</small>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-form-label">Email Id:</label>
                <input type="text" formControlName="email" id="email" (blur)="onEmailEntered()" class="form-control">
                <div *ngIf="email.touched && email.errors">
                    <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                    <small *ngIf="email.errors?.email" class="text-danger">Not a valid email id</small>
                </div>
                <small *ngIf="email.dirty && !email.errors && emailExists" class="text-danger">Email is
                    already used</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Date of Birth:</label>
                <input formControlName="birthdate" type="date" class="form-control" max="{{today}}">
                <small *ngIf="dob.touched && dob.errors?.required" class="text-danger">Date of Birth is
                    required</small>
            </div>

            <div class="row">
                <div>
                    <button type="submit" [disabled]="form.invalid || title.value === '' || buttonLabel !== 'Register' || emailExists" 
                        class="btn btn-success">{{buttonLabel}}</button>
                    <button type="reset" class="btn btn-danger">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col col-md-7 mt-5 text-center">
        <h2>Paginated list of all the Employees</h2>
    </div>
</div>