<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <a *ngIf="showProfile" style="margin-left: 20%;text-decoration: none;" routerLink="/nurse/dashboard/appointment"
        routerLinkActive="activeRouting" [routerLinkActiveOptions]="{ exact: true }">Appointments</a>
    <a *ngIf="showProfile" style="margin-left: 5%;text-decoration: none;" routerLink="/nurse/dashboard/notes"
        routerLinkActive="activeRouting" [routerLinkActiveOptions]="{ exact: true }">Notes</a>
    <a *ngIf="!showProfile" style="margin-left: 20%;text-decoration: none;" routerLink="/nurse/dashboard/profile"
        routerLinkActive="activeRouting" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
    <span class="flexExpand"></span>
    <div style="margin-right: 3%;">
        <mat-icon matBadge="0">notifications</mat-icon>
    </div>
    <div>
        <button mat-raised-button class="logout" (click)="logout()">Logout</button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="assets/profileImg.png" />
        <h4 class="name">{{userName}}</h4>
        <p class="designation">Nurse</p>
        <mat-divider></mat-divider>
        <button *ngIf="showProfile" mat-button class="menu-button" routerLink="/nurse/dashboard/profile"
            (click)="updateProfile()">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </button>
        <button *ngIf="!showProfile" mat-button class="menu-button" routerLink="/nurse/dashboard/appointment"
            (click)="updateProfile()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button *ngIf="!showProfile" mat-button class="menu-button" routerLink="/nurse/dashboard/notes"
            (click)="updateProfile()">
            <mat-icon>note</mat-icon>
            <span>Note</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/help">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>